.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: -10px;
}

.name {
  font-size: 48px;
  letter-spacing: 3px;
}

.email {
  position: relative;
  top: 40px;
}

#tag-line {
 height: 30px;
}

#tag-line .tag-line {
  position: relative;
  bottom: 40px;
  font-style: italic;
}

.social {
  text-align: center;
  position: relative;
  bottom: 75px;
  font-size: 40px;
}

.social a {
  color: black;
  margin-right: 10px;
}
