body {
  margin-left: 20%;
  margin-right: 20%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.dates {
  position: relative;
  margin-left: 400px;
}

.experience .location {
  position: relative;
  font-size: 1.17em;
  font-weight: bold;
  left: 565px;
  bottom: 80px;
}

.jobDates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.jobTasks {
  list-style-type: square;
  margin-left: 50px;
}
