body {
  margin-left: 30%;
  margin-right: 30%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.dates {
  position: relative;
  margin-left: 400px;
}

.experience .dates {
  position: relative;
  right: 100px;
}

.experience .location {
  position: relative;
  font-size: 1.17em;
  font-weight: bold;
  left: 565px;
  bottom: 80px;
  
}

.jobTasks {
  list-style-type: square;
  margin-left: 50px;
}
